<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style>
		table,tr,td{
			border:1px solid red;
		}
		td{
			padding:5px 10px;
		}
	</style>
</head>
<body>
	<div><a href="/addbook">【增加图书】</a></div>
	<table>
		<tr>
			<td>图书名字</td>
			<td>作者</td>
			<td>价格</td>
			<td>操作</td>
		</tr>
		<% for(var i=0; i< test.length; i++){%>
		<tr>
			<td><%=test[i].name%></td>
		    <td><%=test[i].author%></td>
			<td><%=test[i].price%></td>
			<td><a href="/edit?name=<%=test[i].name%>">修改</a></td>
		</tr>
		<%}%>
	</table>
</body>
</html>